body {
  background-color:  #282828;
}

.app-parent h1 {
  text-align: center;
  margin: auto;
  width: 30%;
  /* border: 1px solid black; */
  background-color: blue;
  color: #fff;
  text-shadow: 2px 2px black;
  /* box-shadow: 5px 5px rgba(25, 62, 184, 0.35); */

  box-shadow:  12px 12px 22px #161616,
              -12px -12px 22px #282828;
}

.movie-add {
  width: 30%;
  margin: 10px auto;
}

.movie-add input {
  margin: 20px 0 0 101px;

}

.search-bar {
  margin: 15px auto 10px auto;
  width: 50%;
  align-content: center;
}

.search-here {
  margin: auto;
  align-content: center;
  width: 30%;
}

.movie-list {
  padding: 10px 0;
  margin: 30px auto;
  width: 40%;
  border-radius: 26px;
  background: linear-gradient(145deg, #212121, #1c1c1c);
  box-shadow:  22px 22px 42px #161616,
             -22px -22px 42px #282828;
}

.movie-list-empty {
  height: 50px;
  margin: 30px auto;
  width: 40%;
  border-radius: 10px;
  background: linear-gradient(145deg, #212121, #1c1c1c);
  box-shadow:  22px 22px 42px #161616,
             -22px -22px 42px #282828;
}

.movie-list-empty h5 {
  text-align: center;
  color: blue;
  padding-top: 10px;
}

.movie-list h1 {
  width: 50%;
  text-align: center;
  margin: auto;
  border-bottom: 2px solid black;
  text-shadow: 2px 2px rgba(25, 62, 184, 0.35);
}

.movie-list-entry {
  width: 75%;
  margin: 25px auto;
  padding: 10px;

  align-content: center;
  color: blue;
  border-radius: 10px;
  background: linear-gradient(145deg, #212121, #1c1c1c);
  box-shadow:  12px 12px 22px #161616,
             -12px -12px 22px #282828;
}

.movie-list-entry h5 {
  text-align: center;
  /* float: left; */
  display: inline;
  width: 90%;
}

.toWatch-button {
  font-size: 10px;
  float: right;
  display: inline;
  margin-top: 2px;
  border-radius: 5px;
  color: white;
  background: linear-gradient(145deg, #212121, #1c1c1c);
  /* width: 10%; */
}

.watched-button {
  font-size: 10px;
  float: right;
  display: inline;
  margin-top: 2px;
  border-radius: 5px;
  color: white;
  background: blue;
}



